<section>
    <h2>Blog about it...</h2>
    <p>{{email}}'s Blog</p>
    <form class="newPost">

        <div class="row mb-3">
            <label for="newPost" class="col-sm-2 col-form-label">New Post title</label>
            <div class="col-sm-10">
                <input type="Post" class="form-control" id="newPost">
            </div>
        </div>
        <div class="row mb-3">
            <label for="blogPost" class="col-sm-2 col-form-label">Blog Post Content</label>
            <div class="col-sm-10">
                <input type="" class="form-control" id="blogPost">
            </div>
            <button class="btn btn-primary" type="submit">login</button>
    </form>
</section>

<script src="./js/profile.js"></script>